name: Sync Wiki
on:
  push:
    branches: [ main ]
    paths: [ 'docs/**' ]

jobs:
  update_wiki:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repository
        uses : actions/checkout@v4

      - name: Sync to Wiki
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          path: docs/
          token: ${{ secrets.GITHUB_TOKEN }}
          ignore_paths: ".github"